.task-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.task-card {
  background: #f9fafb;
  padding: 20px;
  border-radius: 12px;
  border-left: 6px solid #4f46e5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: 0.2s;
  color: black;
}

.task-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.task-card.completed {
  border-left: 6px solid #1cc88a;
  background: #eafbf3;
  text-decoration: line-through;
  color: #4a4a4a;
}

.task-actions {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.complete {
  background: #1cc88a;
  color: white;
}

.complete:hover {
  background: #17a673;
}

.edit {
  background: #f6c23e;
}

.edit:hover {
  background: #dda20a;
}

.delete {
  background: #e74a3b;
  color: white;
}

.delete:hover {
  background: #c0392b;
}

@media (max-width: 600px) {
  .task-actions {
    flex-direction: column;
  }
}
