.task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: grey;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title_description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.input,
.textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 15px;
  background-color: lightgray;
  color: black;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: white;
}

.add-btn {
  background: #4e73df;
  color: white;
  padding: 12px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.add-btn:hover {
  background: #3556b3;
}
